<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quackbox.TV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary fixed-top" id="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="navbar-brand" id="brand">
        <span>Quackbox.TV</span>
      </a>
      <div class="navbar-collapse collapse w-100" id="navbarMenu">
        <ul class="navbar-nav w-100 justify-content-center text-center">
          <%= if Pow.Plug.current_user(@conn) do %>
            <%= if Pow.Plug.current_user(@conn).role == "admin" do %>
              <li class="nav-item">
                <%= link "Categories", to: Routes.admin_category_path(@conn, :index), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Questions", to: Routes.admin_question_path(@conn, :index), class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: "nav-link" %>
            </li>
          <% end %>
      </div>
    </nav>
    <main role="main">
      <div class="container">
        <div class="row justify-content-center">
          <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
            <% alert_class = if (flash_key == "error"), do: 'danger', else: flash_key %>
            <%= if (flash_message) do %>
              <div class="alert alert-<%= alert_class %>"><%= flash_message %></div>
            <% end %>
          <% end) %>
        </div>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
